<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blue.sys.siteparameter.dao.SiteParameterMapper" >
  <resultMap id="BaseResultMap" type="org.blue.sys.siteparameter.model.SiteParameter" >
    <id column="PARAM_ID" property="paramId" jdbcType="INTEGER" />
    <result column="PARAM_NAME" property="paramName" jdbcType="VARCHAR" />
    <result column="PARAM_VALUE" property="paramValue" jdbcType="VARCHAR" />
    <result column="PARAM_COMMENT" property="paramComment" jdbcType="VARCHAR" />
    <result column="OPER_TIME" property="operTime" jdbcType="TIMESTAMP" />
    <result column="OPER_USER" property="operUser" jdbcType="VARCHAR" />
    <result column="REMOVE_TAG" property="removeTag" jdbcType="INTEGER" />
  </resultMap>
  <!-- 启用缓存 -->
  <cache  type="org.blue.cache.QueryCache" flushInterval="36000000" />
  
  <sql id="Base_Column_List" >
    PARAM_ID, PARAM_NAME, PARAM_VALUE, PARAM_COMMENT, OPER_TIME, OPER_USER, REMOVE_TAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" useCache="true" >
    select 
    <include refid="Base_Column_List" />
    from site_parameter
    where PARAM_ID = #{paramId,jdbcType=INTEGER}
  </select>
  <!-- 将if 判断去掉了 标签是针对JAVABEAN或者MAP的，String不能用标签 -->
  <select id="getParamValueByName" parameterType="java.lang.String" resultType="java.lang.String" useCache="true">
		select param_value from site_parameter where remove_tag='0' and param_name = #{paramName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" flushCache="true">
    update site_parameter set remove_tag='1'
    where PARAM_ID = #{paramId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.blue.sys.siteparameter.model.SiteParameter" flushCache="true">
    insert into site_parameter (PARAM_NAME, PARAM_VALUE, 
      PARAM_COMMENT,
      OPER_USER, REMOVE_TAG)
    values ( #{paramName,jdbcType=VARCHAR}, #{paramValue,jdbcType=VARCHAR}, 
      #{paramComment,jdbcType=VARCHAR},
      #{operUser,jdbcType=VARCHAR}, #{removeTag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.blue.sys.siteparameter.model.SiteParameter" flushCache="true">
    insert into site_parameter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paramName != null" >
        PARAM_NAME,
      </if>
      <if test="paramValue != null" >
        PARAM_VALUE,
      </if>
      <if test="paramComment != null" >
        PARAM_COMMENT,
      </if>
       	OPER_TIME,
      <if test="operUser != null" >
        OPER_USER,
      </if>
      <if test="removeTag != null" >
        REMOVE_TAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paramName != null" >
        #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramComment != null" >
        #{paramComment,jdbcType=VARCHAR},
      </if>
      	now(),
      <if test="operUser != null" >
        #{operUser,jdbcType=VARCHAR},
      </if>
      <if test="removeTag != null" >
        #{removeTag,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.blue.sys.siteparameter.model.SiteParameter" flushCache="true">
    update site_parameter
    <set >
      <if test="paramName != null" >
        PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      </if>
      <if test="paramValue != null" >
        PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      </if>
      <if test="paramComment != null" >
        PARAM_COMMENT = #{paramComment,jdbcType=VARCHAR},
      </if>
        OPER_TIME = now(),
      <if test="operUser != null" >
        OPER_USER = #{operUser,jdbcType=VARCHAR},
      </if>
      <if test="removeTag != null" >
        REMOVE_TAG = #{removeTag,jdbcType=INTEGER},
      </if>
    </set>
    where PARAM_ID = #{paramId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.blue.sys.siteparameter.model.SiteParameter" flushCache="true">
    update site_parameter
    set PARAM_NAME = #{paramName,jdbcType=VARCHAR},
      PARAM_VALUE = #{paramValue,jdbcType=VARCHAR},
      PARAM_COMMENT = #{paramComment,jdbcType=VARCHAR},
      OPER_TIME = #{operTime,jdbcType=TIMESTAMP},
      OPER_USER = #{operUser,jdbcType=VARCHAR},
      REMOVE_TAG = #{removeTag,jdbcType=INTEGER}
    where PARAM_ID = #{paramId,jdbcType=INTEGER}
  </update>
  
  <select id="querySiteParameterList" resultMap="BaseResultMap" useCache="true">
  	select param_name, param_value from site_parameter where remove_tag = '0'
  </select>
  
  <update id="modifySiteParameterValueByName" parameterType="org.blue.sys.siteparameter.model.SiteParameter" flushCache="true">
  	update site_parameter set PARAM_VALUE = #{paramValue,jdbcType=VARCHAR} where PARAM_NAME = #{paramName,jdbcType=VARCHAR}
  </update>
  
  <update id="createTable">
  SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ----------------------------
-- Table structure for site_parameter
-- ----------------------------
DROP TABLE IF EXISTS `site_parameter`;
CREATE TABLE `site_parameter`  (
  `PARAM_ID` int(11) NOT NULL AUTO_INCREMENT,
  `PARAM_NAME` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `PARAM_VALUE` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `PARAM_COMMENT` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `OPER_TIME` timestamp(0) NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0),
  `OPER_USER` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `REMOVE_TAG` bit(1) NULL DEFAULT NULL,
  PRIMARY KEY (`PARAM_ID`) USING BTREE,
  INDEX `name_value`(`PARAM_NAME`, `PARAM_VALUE`, `REMOVE_TAG`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

SET FOREIGN_KEY_CHECKS = 1;
  </update>
</mapper>