<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blue.webframework.sys.attach.dao.AttachMapper">
	<resultMap id="BaseResultMap" type="org.blue.webframework.sys.attach.model.Attach">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="FILE_TYPE" property="fileType" jdbcType="VARCHAR" />
		<result column="FILE_PATH" property="filePath" jdbcType="VARCHAR" />
		<result column="attachDesc" property="attachDesc" jdbcType="VARCHAR" />
		<result column="REMOVE_TAG" property="removeTag" jdbcType="BIT" />
		<result column="Account_ID" property="accountId" jdbcType="VARCHAR" />
		<result column="ADD_DATE" property="addDate" jdbcType="TIMESTAMP" />

	</resultMap>
	<sql id="Base_Column_List">
		ID, NAME, FILE_TYPE, FILE_PATH, attachDesc, REMOVE_TAG, account_id, ADD_DATE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from sys_attach
		where ID = #{id,jdbcType=INTEGER}
	</select>


	<select id="selectAttachList" resultMap="BaseResultMap"
		parameterType="org.blue.webframework.sys.attach.model.Attach">
		select
		<include refid="Base_Column_List" />
		from sys_attach
		<where>
			<if test="name != null">
				and NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="fileType != null">
				and FILE_TYPE = #{fileType,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				and FILE_PATH = #{filePath,jdbcType=VARCHAR},
			</if>
			<if test="attachDesc != null">
				and attachDesc = #{attachDesc,jdbcType=VARCHAR},
			</if>
			<if test="removeTag != null">
				and REMOVE_TAG = #{removeTag,jdbcType=BIT},
			</if>
			<if test="accountId != null">
				and Account_ID = #{accountId,jdbcType=INTEGER},
			</if>
			<if test="addDate != null">
				and ADD_DATE = #{addDate,jdbcType=TIMESTAMP},
			</if>

		</where>
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from sys_attach
		where ID = #{id,jdbcType=INTEGER}
	</delete>


	<insert id="insert" parameterType="org.blue.webframework.sys.attach.model.Attach" useGeneratedKeys="true" keyProperty="id">
		insert into sys_attach ( NAME,
		FILE_TYPE, FILE_PATH, attachDesc,
		REMOVE_TAG, Account_ID
		)
		values (#{name,jdbcType=VARCHAR},
		#{fileType,jdbcType=VARCHAR}, #{filePath,jdbcType=VARCHAR}, #{attachDesc,jdbcType=VARCHAR},
		#{removeTag,jdbcType=BIT}, #{accountId,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="org.blue.webframework.sys.attach.model.Attach"
		useGeneratedKeys="true" keyProperty="attachId">
		insert into sys_attach
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				NAME,
			</if>
			<if test="fileType != null">
				FILE_TYPE,
			</if>
			<if test="filePath != null">
				FILE_PATH,
			</if>
			<if test="attachDesc != null">
				attachDesc,
			</if>
			<if test="removeTag != null">
				REMOVE_TAG,
			</if>
			<if test="accountId != null">
				account_id,
			</if>

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">

			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="fileType != null">
				#{fileType,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				#{filePath,jdbcType=VARCHAR},
			</if>
			<if test="attachDesc != null">
				#{attachDesc,jdbcType=VARCHAR},
			</if>
			<if test="removeTag != null">
				#{removeTag,jdbcType=BIT},
			</if>
			<if test="accountId != null">
				#{accountId,jdbcType=INTEGER},
			</if>

		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="org.blue.webframework.sys.attach.model.Attach">
		update sys_attach
		<set>

			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="fileType != null">
				FILE_TYPE = #{fileType,jdbcType=VARCHAR},
			</if>
			<if test="filePath != null">
				FILE_PATH = #{filePath,jdbcType=VARCHAR},
			</if>
			<if test="attachDesc != null">
				attachDesc = #{attachDesc,jdbcType=VARCHAR},
			</if>
			<if test="removeTag != null">
				REMOVE_TAG = #{removeTag,jdbcType=BIT},
			</if>
			<if test="accountId != null">
				Account_id = #{accountId,jdbcType=INTEGER},
			</if>

			<if test="addDate != null">
				ADD_DATE = #{addDate,jdbcType=TIMESTAMP},
			</if>

		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>



	<update id="updateByPrimaryKey" parameterType="org.blue.webframework.sys.attach.model.Attach">
		update sys_attach
		set NAME = #{name,jdbcType=VARCHAR},
		FILE_TYPE = #{fileType,jdbcType=VARCHAR},
		FILE_PATH = #{filePath,jdbcType=VARCHAR},
		attachDesc = #{attachDesc,jdbcType=VARCHAR},
		REMOVE_TAG = #{removeTag,jdbcType=INTEGER},
		Account_ID = #{accountId,jdbcType=VARCHAR},
		ADD_DATE = #{addDate,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=INTEGER}
	</update>



	<update id="dropTable">
		DROP TABLE IF EXISTS `sys_attach`
	</update>

	<update id="truncateTable">
		truncate table `sys_attach`
	</update>

	<update id="createTable">
		CREATE TABLE `sys_attach` (
		`id` INT(32) NOT NULL AUTO_INCREMENT,
		`name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		`file_type` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		`file_path` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		`file_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		`add_date` TIMESTAMP(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
		`attachDesc` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		`account_id` INT(32) NULL DEFAULT NULL,
		`remove_tag` bit(1) NULL DEFAULT b'1',
		PRIMARY KEY (`id`) USING BTREE
		) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT
		= Dynamic;
	</update>
</mapper>