<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.blue.webframework.sys.weixin.dao.WeixinUserMapper">

	<resultMap id="BaseResultMap" type="org.blue.webframework.sys.weixin.model.WeixinUser">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="openId" jdbcType="VARCHAR" property="openId" />
		<result column="appId" jdbcType="VARCHAR" property="appId" />
		<result column="nickName" jdbcType="VARCHAR" property="nickName" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="country" jdbcType="VARCHAR" property="country" />
		<result column="headImgUrl" jdbcType="VARCHAR" property="headImgUrl" />
		<result column="unionId" jdbcType="VARCHAR" property="unionId" />
		<result column="subscribe" jdbcType="INTEGER" property="subscribe" />
		<result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<!-- 启用缓存 -->
	<cache type="org.blue.webframework.cache.QueryCache" />
	<sql id="Base_Column_List">
		id,openId, appId, nickName, sex,province,city,country,headImgUrl,unionId,subscribe,updateTime
	</sql>
	<select id="selectByOpenIdAndAppId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_weixinuser
		where appId = #{appId,jdbcType=VARCHAR} and
		openId=#{openId,jdbcType=VARCHAR} limit 1
	</select>

	<select id="selectByUnionIdAndAppId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_weixinuser
		where unionId = #{unionId,jdbcType=VARCHAR} and
		appId=#{appId,jdbcType=VARCHAR} limit 1
	</select>

	<insert id="save" parameterType="org.blue.webframework.sys.weixin.model.WeixinUser">
		insert into sys_weixinuser
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="nickName != null">
				nickName,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="city != null">
				city,
			</if>
			<if test="country != null">
				country,
			</if>
			<if test="headImgUrl != null">
				headImgUrl,
			</if>
			<if test="unionId != null">
				unionId,
			</if>
			subscribe,openId,appId,updateTime,addTime

		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="nickName != null">
				#{nickName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				#{city,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				#{country,jdbcType=VARCHAR},
			</if>
			<if test="headImgUrl != null">
				#{headImgUrl,jdbcType=VARCHAR},
			</if>
			<if test="unionId != null">
				#{unionId,jdbcType=VARCHAR},
			</if>
			#{subscribe,jdbcType=INTEGER},#{openId,jdbcType=VARCHAR},#{appId,jdbcType=VARCHAR},now(),now()

		</trim>
	</insert>

	<update id="updateByAppIdOpenIdSelective" parameterType="org.blue.webframework.sys.weixin.model.WeixinUser">
		update sys_weixinuser
		<set>
			<if test="nickName != null">
				nickName = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=BIT},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=TIMESTAMP},
			</if>
			<if test="city !=null">
				city=#{city,jdbcType=VARCHAR},
			</if>
			<if test="country !=null">
				country=#{country,jdbcType=VARCHAR},
			</if>
			<if test="headImgUrl !=null">
				headImgUrl=#{headImgUrl,jdbcType=VARCHAR},
			</if>
			<if test="unionId !=null">
				unionId=#{unionId,jdbcType=VARCHAR},
			</if>
			subscribe=#{subscribe,jdbcType=INTEGER},
			updateTime=now()
		</set>
		where openId = #{openId,jdbcType=VARCHAR} and appId =
		#{appId,jdbcType=VARCHAR}
	</update>

	<update id="dropTable">
		DROP TABLE IF EXISTS `sys_weixinuser`
	</update>

	<update id="truncateTable">
		truncate table `sys_weixinuser`
	</update>

	<update id="createTable">

		CREATE TABLE `sys_weixinuser` (
		`id` INT(4) auto_increment ,
		`nickName` VARCHAR(160) NULL,
		`sex` BIT(1) NULL,
		`addtime` TIMESTAMP NULL default CURRENT_TIMESTAMP(0),
		`appId` VARCHAR(32) NULL,
		PRIMARY KEY (`id`))
		) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT
		= Dynamic;

	</update>
</mapper>