<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blue.webframework.sys.account.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="org.blue.webframework.sys.account.model.Role" >
    <id column="role_id" property="id" jdbcType="BIGINT" />
    <result column="role_name" property="name" jdbcType="VARCHAR" />
    <result column="role_enable" property="enable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_id, role_name, role_enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from Role
    where role_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Role
    where role_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.blue.webframework.sys.account.model.Role" useGeneratedKeys="true"
		keyProperty="id">
    insert into Role ( role_name, 
      role_enable
      )
    values (#{name,jdbcType=VARCHAR},#{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="org.blue.webframework.sys.account.model.Role" useGeneratedKeys="true"
		keyProperty="id">
    insert into Role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        role_name,
      </if>
      role_enable
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      #{enable,jdbcType=BIT}
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.blue.webframework.sys.account.model.Role" >
    update Role
    <set >
      <if test="name != null" >
        role_name=#{name,jdbcType=VARCHAR},
      </if>
      role_enable=#{enable,jdbcType=BIT}
    </set>
    where role_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.blue.webframework.sys.account.model.Role" >
    update Role
    set role_name=#{name,jdbcType=VARCHAR},
      role_enable=#{enable,jdbcType=BIT}
    where role_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="setEnable">
   update Role
    set role_enable=#{enable,jdbcType=BIT}
    where role_id = #{id,jdbcType=BIGINT}
  </update>
</mapper>