<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blue.sys.account.dao.RoleResourceMapper" >
  <resultMap id="BaseResultMap" type="org.blue.sys.account.model.RoleResource" >
    <id column="roleresource_id" property="id" jdbcType="BIGINT" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="operate" property="operate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    roleresource_id, role_id, resource_id,operate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from RoleResource
    where role_id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from RoleResource
    where role_id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.blue.sys.account.model.RoleResource" useGeneratedKeys="true"
		keyProperty="id">
    insert into RoleResource ( role_name, 
      role_enable
      )
    values (#{name,jdbcType=VARCHAR},#{enable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="org.blue.sys.account.model.RoleResource" useGeneratedKeys="true"
		keyProperty="id">
    insert into RoleResource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        role_name,
      </if>
      role_enable
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      #{enable,jdbcType=BIT}
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.blue.sys.account.model.RoleResource" >
    update RoleResource
    <set >
      <if test="name != null" >
        role_name=#{name,jdbcType=VARCHAR},
      </if>
      role_enable=#{enable,jdbcType=BIT}
    </set>
    where role_id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.blue.sys.account.model.RoleResource" >
    update RoleResource
    set role_name=#{name,jdbcType=VARCHAR},
      role_enable=#{enable,jdbcType=BIT}
    where role_id = #{id,jdbcType=BIGINT}
  </update>
  <select id="hasPermission" resultType="java.lang.Integer">
   select count(1) from RoleResource
    where resource_id=#{enable,jdbcType=BIGINT}
    and operate=#{operate,jdbcType=VARCHAR}
    and role_id = #{id,jdbcType=BIGINT}
  </select>
</mapper>