<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blue.webframework.sys.account.dao.AccountResourceMapper">
	<resultMap id="BaseResultMap"
		type="org.blue.webframework.sys.account.model.AccountResource">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="account_id" property="accountId" jdbcType="BIGINT" />
		<result column="resource_id" property="resourceId" jdbcType="BIGINT" />
		<result column="operate" property="operate" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, account_id, resource_id,operate
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from account_resource
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from account_resource
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="org.blue.webframework.sys.account.model.AccountResource"
		useGeneratedKeys="true" keyProperty="id">
		insert into account_resource ( role_id, resource_id,operate)
		values (#{roleId,jdbcType=BIGINT},#{resourceId,jdbcType=BIGINT},#{operate,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKeySelective"
		parameterType="org.blue.webframework.sys.account.model.AccountResource">
		update account_resource
		<set>
			<if test="roleId != null">
				role_id=#{roleId,jdbcType=BIGINT},
			</if>
			<if test="resourceId != null">
				resource_id=#{resourceId,jdbcType=BIGINT},
			</if>
			<if test="operate != null">
				operate=#{operate,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="getCount" resultType="java.lang.Integer">
		select count(1) from account_resource
		where resource_id=#{resourceId,jdbcType=BIGINT}
		and operate=#{operate,jdbcType=VARCHAR}
		and account_id = #{accountId,jdbcType=BIGINT}
	</select>

	<select id="getCountWidthCode" resultType="java.lang.Integer">
		select count(1) from account_resource inner join resource on resource.id = account_resource.resource_id
		where resource.code=#{resourceCode,jdbcType=VARCHAR}
		and operate=#{operate,jdbcType=VARCHAR}
		and account_id = #{accountId,jdbcType=BIGINT}
	</select>
	
	<delete id="delete">
		delete account_resource
		where resource_id=#{resourceId,jdbcType=BIGINT}
		and operate=#{operate,jdbcType=VARCHAR}
		and account_id = #{accountId,jdbcType=BIGINT}
	</delete>

	<update id="dropTable">
		DROP TABLE IF EXISTS `account_resource`
	</update>

	<update id="truncateTable">
		truncate table `account_resource`
	</update>

	<update id="createTable">
		CREATE TABLE `account_resource` (
		`id` bigint(20) NOT NULL AUTO_INCREMENT,
		`account_id` bigint(20) NULL DEFAULT NULL,
		`resource_id` bigint(20) NULL DEFAULT NULL,
		`operate` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		PRIMARY KEY (`id`) USING BTREE
		) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT
		= Dynamic;
	</update>
</mapper>