<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blue.webframework.sys.account.dao.ResourceMapper">
	<!-- 启用缓存 -->
	<cache type="org.blue.webframework.cache.QueryCache" />
	<resultMap id="BaseResultMap" type="org.blue.webframework.sys.account.model.Resource">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="comment" property="comment" jdbcType="VARCHAR" />
		<result column="operates" property="operates" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, code,comment,operates
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from Resource
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from Resource
		where code = #{code,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from Resource
		where id =
		#{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="org.blue.webframework.sys.account.model.Resource"
		useGeneratedKeys="true" keyProperty="id">
		insert into Resource ( name,code,comment,operates)
		values
		(#{name,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{comment,jdbcType=VARCHAR},#{operates,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="org.blue.webframework.sys.account.model.Resource"
		useGeneratedKeys="true" keyProperty="id">
		insert into Resource
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="comment != null">
				comment,
			</if>
			<if test="operates != null">
				operates,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				#{comment,jdbcType=VARCHAR},
			</if>
			<if test="operates != null">
				#{operates,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="org.blue.webframework.sys.account.model.Resource">
		update Resource
		<set>
			<if test="name != null">
				name=#{name,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				code=#{code,jdbcType=VARCHAR},
			</if>
			<if test="comment != null">
				comment=#{comment,jdbcType=VARCHAR},
			</if>
			<if test="operates != null">
				operates=#{operates,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="org.blue.webframework.sys.account.model.Resource">
		update Resource
		set name=#{name,jdbcType=VARCHAR},
		code=#{code,jdbcType=VARCHAR},
		comment=#{comment,jdbcType=VARCHAR},
		operates=#{operates,jdbcType=VARCHAR}
		where id= #{id,jdbcType=BIGINT}
	</update>
	<update id="dropTable">
		DROP TABLE IF EXISTS `resource`
	</update>

	<update id="truncateTable">
		truncate table `resource`
	</update>

	<update id="createTable">
		CREATE TABLE `resource` (
		`id` bigint(20) NOT NULL AUTO_INCREMENT,
		`name`
		varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		`code` varchar(32)
		CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		`comment` varchar(255) CHARACTER
		SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		`operates` varchar(255) CHARACTER SET
		utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
		PRIMARY KEY (`id`) USING BTREE
		) ENGINE = InnoDB
		AUTO_INCREMENT = 1 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT
		= Dynamic;
	</update>

</mapper>