<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.blue.webframework.sys.identifyingcode.dao.IdentifyingCodeMapper" >
  <resultMap id="BaseResultMap" type="org.blue.webframework.sys.identifyingcode.model.IdentifyingCode" >
    <id column="identifying_code_id" property="identifyingCodeId" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="identifying_code" property="identifyingCode" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="alive_time" property="aliveTime" jdbcType="INTEGER" />
    <result column="add_time" property="addTime" jdbcType="TIMESTAMP" />
    <result column="alive_flag" property="aliveFlag" jdbcType="CHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    identifying_code_id, phone, identifying_code, content, alive_time, add_time, alive_flag, 
    user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_identifying_code
    where identifying_code_id = #{identifyingCodeId,jdbcType=INTEGER}
  </select>
 
  <insert id="insert" parameterType="org.blue.webframework.sys.identifyingcode.model.IdentifyingCode" >
    insert into sys_identifying_code (identifying_code_id, phone, identifying_code, 
      content, alive_time, add_time, 
      alive_flag, user_id)
    values (#{identifyingCodeId,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR}, #{identifyingCode,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{aliveTime,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, 
      #{aliveFlag,jdbcType=CHAR}, #{userId,jdbcType=INTEGER})
  </insert>


  <select id="getTimeSpanFromNow" resultType="Integer">
  	select ifnull(min(NOW() -add_time),84600) from sys_identifying_code t
  	where to_days(add_time) = to_days(now())
    <if test="phone != null and phone != ''">
    	and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="identifyingCode != null and identifyingCode != ''">
    	and identifying_code = #{identifyingCode,jdbcType=VARCHAR}
    </if>
    <if test="userId != null and userId != ''">
    	and user_id = #{userId,jdbcType=INTEGER}
    </if>

  </select>
  


  <select id="getUsefulIdentifyingCodeCount" resultType="Integer">
  	select count(1) from sys_identifying_code t
    where DATE_ADD(add_time, INTERVAL alive_time SECOND) > NOW() 
    <if test="phone != null and phone != ''">
    	and phone = #{phone,jdbcType=VARCHAR}
    </if>
    <if test="identifyingCode != null and identifyingCode != ''">
    	and identifying_code = #{identifyingCode,jdbcType=VARCHAR}
    </if>
    <if test="userId != null and userId != ''">
    	and user_id = #{userId,jdbcType=INTEGER}
    </if>

  </select>
  
  <select id="selectTodaySendNum" parameterType="java.lang.String" resultType="Integer">
  	select count(1) from sys_identifying_code
  	where to_days(add_time) = to_days(now())
  	<if test="phone != null and phone != ''">
  		and phone = #{phone}
  	</if>
  	<if test="userId != null">
  		and user_id = #{userId}
  	</if>
  	<if test="userId == null">
  		and user_id is null
  	</if>
 
  </select>
  
  <select id="getCountInMinutes" parameterType="java.lang.String" resultType="Integer">
  	select count(1) from sys_identifying_code
  	where add_time >=DATE_SUB(NOW(),INTERVAL #{minute,jdbcType=INTEGER} MINUTE)
  	<if test="phone != null and phone != ''">
  		and phone = #{phone,jdbcType=VARCHAR}
  	</if>
  	<if test="userId != null">
  		and user_id = #{userId,jdbcType=VARCHAR}
  	</if>

  </select>
  
	<update id="dropTable">
		DROP TABLE IF EXISTS `sys_identifying_code`
	</update>
	
	<update id="truncateTable">
        truncate table `sys_identifying_code`
    </update>
    
	<update id="createTable">

CREATE TABLE `sys_identifying_code`  (
  `identifying_code_id` INT(32) NOT NULL AUTO_INCREMENT,
  `phone` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `identifying_code` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `content` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `alive_time` int(11) NULL DEFAULT NULL,
  `add_time` timestamp(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
  `alive_flag` char(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NULL DEFAULT NULL,
  `user_id` INT(32) NULL DEFAULT NULL,
  PRIMARY KEY (`identifying_code_id`) USING BTREE,
  INDEX `I_code`(`phone`, `identifying_code`, `alive_time`, `user_id`, `add_time`) USING BTREE
) ENGINE = InnoDB AUTO_INCREMENT = 1 CHARACTER SET = utf8mb4 COLLATE = utf8mb4_unicode_ci ROW_FORMAT = Dynamic;

  </update>
</mapper>